@media (max-width: 1200px) {
  .content-wrapper {
    padding: 0;
  }

  .lang {
    margin-left: auto;
    margin-right: 15px;
  }


  .header__container {
    padding-left: 0;
    padding-right: 0;
  }

  .header__nav {
    display: none;
  }

  .header__toggle-menu {
    display: block;
  }

  .overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    width: 100%;
    height: 100%;
  }

  .overlay--show {
    display: flex;
  }

  .menu {
    flex-direction: column;
  }

  .menu__item {
    width: 100%;
    padding: 0;
  }

  .menu__link {
    color: #fff;
    font-size: 3rem;
    width: 100%;
    display: block;
    padding: 16px;
  }
}
